---
---

@import "guides_style_18f";

$black: #000;
$blue: #006fc9;
$dark-gray: #666;
$light-gray: #f9f9f9;
$medium-gray: #999;

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

html {
  font-size: 10px;
}

body {
  @include font-size(1.4);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  margin-bottom: .5em;
  margin-top: 0;
}

h1 {
  @include font-size(3.8);
}

h2,
.section-level2 h1 {
  @include font-size(2.8);
}

h3,
.section-level2 h2 {
  @include font-size(1.8);
}

h4,
.section-level2 h3 {
  @include font-size(1.5);
}

h5,
.section-level2 h4 {
  @include font-size(1.3);
  text-transform: uppercase;
}

h6,
.section-level2 h5 {
  @include font-size(1.1);
}

.nav-children {
  overflow: hidden;
}

nav a[aria-active=true]:link {
  background: transparent;
  // XXX this isn't turning links black for me...
  color: $black;
  font-weight: bold;
}

// add the nav active indicator to targeted section titles
section:target > h1,
h2:target,
h3:target {
  border-left: 4px solid $blue;
  padding-left: 10px;
}

section section {
  padding-left: 1em;
  section {
    padding-left: 0; // don't indent third children
  }
}

pre {
  overflow-y: hidden;
}

.anchorjs-link {
  color: $medium-gray;
}

nav .group {
  overflow: visible;
  position: relative;

  .expand-subnav {
    float: none;
    margin: 0;
    position: absolute;
    right: 0;
    top: 7px;
  }

  .group .expand-subnav {
    top: 0px;
  }
}

@media screen and (min-width: 640px) {

  body {
    @include font-size(1.6);
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3;
    margin-bottom: .5em;
    margin-top: 0;
  }

  h1 {
    @include font-size(4);
  }

  h2,
  .section-level2 h1 {
    @include font-size(3);
  }

  h3,
  .section-level2 h2 {
    @include font-size(2);
  }

  h4,
  .section-level2 h3 {
    @include font-size(1.7);
  }

  h5,
  .section-level2 h4 {
    @include font-size(1.5);
    text-transform: uppercase;
  }

  h6,
  .section-level2 h5 {
    @include font-size(1.3);
  }

  .section-level1 > h1 {
    margin-top: 0;
  }

  .content {
    display: flex;

    main {
      flex: 7;
      float: none;
      order: 2;
      width: auto;
      // ensure that the main content (and hanging anchor links)
      // goes above the sidebar
      z-index: 2;
    }

    aside {
      flex: 3;
      float: none;
      min-width: 16em;
      order: 1;
      width: auto;
    }
  }

  nav {
    padding-right: 2em;

    ol {
      padding: 0;
      margin: 0;

      ol {
        margin-left: 1em;
      }
    }
  }

  .js-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}

// better blockquote styles
blockquote {
  background: $light-gray;
  color: $dark-gray;
  padding: 0.5em 1em;
  margin: 1em 0;
  border-left: 4px solid;

  p {
    margin: 0;
  }

  p + p {
    margin-top: 1em;
  }
}

table {
  border-collapse: collapse;
  margin: 1em 0;

  // uniform padding on all cells
  td,
  th {
    padding: .2em .5em;
    vertical-align: top;
  }

  // don't wrap the first cell
  td:first-child {
    white-space: nowrap;
  }

  // tiger stripes
  tbody tr:nth-child(even) > * {
    background: $light-gray;
  }
}
