<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{% guides_style_18f_asset_root %}/assets/uswds/css/uswds.min.css">
    <link rel="stylesheet" href="{% guides_style_18f_asset_root %}/assets/css/main.css">
    <link rel="stylesheet" href="{% guides_style_18f_asset_root %}/assets/css/styles.css">
  </head>
  <body>
    <div class="container">
      {% include header.html %}

      <div class="usa-grid">

        {% include sidebar.html %}
        <main id="main" class="usa-width-two-thirds usa-layout-docs-main_content">
          {{ content }}
        </main>

      </div><!-- /.usa-grid -->

    </div><!-- /.container -->
  </body>
  <script src="{{ site.baseurl }}/assets/js/vendor/stickyfill.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/anchor.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendor/gumshoe.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</html>
